
<div fxLayout="column">
    
    <div>
        <h1>Buscador de Héroes</h1>
        <mat-divider></mat-divider>
    </div>

    <div fxLayout="column">
        <h3>Buscador</h3>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Héroe</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Héroe"
                   matInput
                   [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                   (input)="buscando()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="opcionSeleccionada( $event )">
              <mat-option *ngFor="let heroe of heroes" [value]="heroe">

                <!-- <div *ngIf="heroes.length === 0; else ancla">
                  {{ termino }}2
                </div>
                <ng-template #ancla>
                  {{ heroe.superhero }}
                </ng-template>

                <div *ngIf="heroes.length <= 0; else ancla">
                  {{ termino }}2
                </div>
                <ng-template #ancla>
                  {{ heroe.superhero }}
                </ng-template> -->

                <div *ngIf="heroe.superhero; else ancla">
                  {{ termino }} 2
                </div>
                <ng-template #ancla>
                  {{ heroe.superhero }}
                </ng-template>

              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <pre>{{ heroeSeleccionado | json }}</pre>

</div>